beautifulsoup4==4.10.0
branca==0.4.2
certifi==2021.5.30
charset-normalizer==2.0.6
folium==0.12.1
idna==3.2
Jinja2==3.0.2
MarkupSafe==2.0.1
numpy==1.21.2
PyExecJS==1.5.1
python-magic-bin==0.4.14
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.7
